<app-navigation/>
<div class="py-2 px-2">
    <div class="card border-primary mb-3" >
        <div class="card-header text-bg-primary"><i class="bi bi-chat-text fs-5"></i> CHUCK NORRIS SAYS:</div>
        <div class="card-body text-center">
            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>"{{frases}}"</p>
                </blockquote>
            </figure>
            <button (click)="myClickHandler()" class="btn btn-outline-primary">Otra</button>
        </div>
    </div>
</div>